@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#scoreArea {
  position: absolute;
  left: 50px;
  top: 30px;
  z-index: 9999;
  background: #fffa;
  padding: 5px 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#scoreDiv {
  display: inline;
  margin-left: 7px;
}

#timeArea {
  position: absolute;
  left: 50px;
  top: 70px;
  z-index: 9999;
  background: #fffa;
  padding: 5px 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#timeLeft {
  display: inline;
  margin-left: 7px;
}

#threeJsCanvas {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#introMessage {
  text-align: center;
  z-index: 9999999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000a;
  padding: 20px;
  color: #fff;
	font-family: 'Roboto', sans-serif;
}

#startButton {
  background: #0b9e81;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 9999999;
}

#quitButton {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  background: #0b9e81;
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
	display: block;
	z-index: 9999;
}

#swal2-title, .swal2-confirm {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 570px) {
	#introMessage h1 {
  font-size: 28px;
}
	
	#introMessage {
width: 200px;
	}
}


#clockwiseButton {
  background: #0b9e81;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  display: block;
  margin: 0px auto 20px auto;
	cursor: pointer;
}



#counterclockwiseButton {
  background: #0b9e81;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  display: block;
  margin: 0px auto 0px auto;
	opacity: 0.5;
	cursor: pointer;
}