@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, div, span, a, nav, header, p, h1, h2, h3, h4, h5, h6, select, button, input, textarea {
	font-family: 'Roboto', sans-serif !important;
}

body {
	margin: 0px;
	min-height: 100vh;
  min-width: 100%;
	  background-image: linear-gradient(#0a9d7f, #5fbfac);
}

a {
  color: #064f53;
  text-decoration: none;
}

footer {
  width: calc(100% - 10px);
  padding: 5px;
  text-align: center;
  background: #fff;
  font-size: 10px;
  color: #4cb7a2;
}

header {
  width: calc(100% - 30px);
  height: 85px;
  display: flex;
  justify-content: space-between;
	max-width: calc(100% - 30px) !important;
  align-items: center;
  padding: 15px;
	background: #fff;
}

#logo {
  width: 240px;
}

#logo img {
  width: 100%;
	height: auto;
}

nav a {
  padding: 20px;
  font-size: 20px;
  color: #0b9e81;
  text-decoration: none;
  cursor: pointer;
}

nav a:last-child {
  padding-right: 0px;
}

#mobileNav button {
  background: #0b9e80;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 10px;
	cursor: pointer;
}

.logoutButton {
  padding: 20px !important;
  background: #0b9e81;
  color: #fff;
  border-radius: 20px;
}

.noDis {
display: none;	
}

main {
  max-width: 1200px;
  width: calc(100% - 60px);
margin: 30px;
	color: #fff;
	min-height: calc(100vh - 258px);
}

#pageTitle {
  text-align: center;
  color: #fff;
  margin: 0px 20px 50px 20px;
  font-size: 50px;
  line-height: 60px;
	float: left;
	width: calc(100% - 40px);
}

.scrolling_text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
	 align-items: center;
	padding: 15px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 40px 0px;
}

 .scrolling_text .text {
    font-size: 50px;
    font-weight: 600;
   font-family: 'Roboto', sans-serif !important;
    color: #fff;
    animation: animate_text 120s linear infinite; /* The animation property */
}

 .scrolling_text .text span {
    margin: 0 15px;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

.row {
  display: flex;
	justify-content: center;
	width: 100%;
}

.column1, .column2, .column3, .column4 {
  padding: 15px;
}

#loginPage .column1, #registerPage .column1 {
  width: calc(100% - 30px);
  max-width: 400px;
}

#formaEisodou input, #formaEpikoinonias input, #formaEpikoinonias textarea, #formaEggrafis input, #formaEggrafis select {
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 15px;
	font-size: 13px;
}

#formaEggrafis {
  text-align: center;
}

#formaEpikoinonias textarea {
  height: 130px;
}

#sendButton {
  width: 100px !important;
  margin: 0px calc(50% - 50px);
}

.column5 {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.column4 {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.column3 {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.column5 img, .column2 img, .column3 img, .column4 img {
max-width: 100%;
}

.column5 h3, .column2 h3, .column3 h3, .column4 h3 {
  color: #fff;
}

main button {
  background: #fff;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
  color: #1aa387;
  cursor: pointer;
}

#submitScore {
  width: 100px !important;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

#level1img, #level1txt, #level2img, #level2txt, #level3img, #level3txt, #level4img, #level4txt, #level5img, #level5txt {
cursor: pointer;	
}

th, td {
  border: solid 1px #fff;
  padding: 10px;
}