@media (min-width: 1200px) {
	header {
		padding: 15px calc(50% - 550px) !important;
	max-width: 1100px !important;
	}
	
	main {
		margin: 50px calc(50% - 550px) !important;
    max-width: 1100px !important;
	}
}

@media (max-width: 1199px) {
main {
  min-height: calc(100vh - 218px);
}
}

@media (min-width: 901px) {
#mobileNav, #mobileNavigation {
	display: none;
	}
}

@media (max-width: 899px) {
     #mainNavigation {
		 display: none;
	}
	
 #mobileNavigation {
    width: calc(100% - 30px);
    position: absolute;
    z-index: 99999;
    background: #fff;
    top: 115px;
    left: 0px;
    padding: 0px 15px 15px 15px;
  }
	
	#mobileNavigation a {
  width: calc(100% - 40px);
  display: block;
  text-align: center;
}
	
	#pageTitle {
		margin: 20px 10px 40px 10px;
  font-size: 40px;
  line-height: 50px;
		width: calc(100% - 20px);
	}
	
	.row {
 flex-direction: column;
		align-items: center;
}
	
	.column5, .column4, .column3 {
  width: 80%;
  max-width: 200px;
}
	
	.saveScorePage .row {
		font-size: 20px !important;
  text-align: center !important;
	}
}